snippet pyinitf "Adds Initial things for python file, (shebang, encoding, description, author)" !b
#!/usr/bin/env python
# encoding: utf-8

"""
${1:Description}
"""

__author__ = '${2:confessin@gmail.com (Mohammad Rafi)}'


endsnippet
